*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/* Header Page */
#page-header{
    display: flex;
    height: 100%;
    width: 100%;
}

#page-header #h-left{
    width: 50%;

}

#page-header #h-left img{
    width: 20%;
    height: 20%;
    margin: 30px;
}

#page-header #h-left #line1{
    position: relative;
    font-family: 'Noto Sans Mono', monospace;
    text-transform: uppercase;
    top:25px;
    font-size: 120px;
    left: 300px;
    z-index: 2;
}

#page-header #h-left #line2{
    position: relative;
    font-family: 'Noto Sans Mono', monospace;
    text-transform: uppercase;
    font-size: 120px;
    left: 300px;
    z-index: 2;
}

#page-header #h-left #tag-line{
    position: relative;
    font-family: 'Noto Sans Mono', monospace;
    text-transform: uppercase;
    top: 15px;
    font-size: 15px;
    left: 380px;
    z-index: 2;
    font-weight: 10;
    letter-spacing: 2.5px;
}


#page-header #h-right{
    background-image: url("pexels-tara-winstead-6479566.jpg");
    background-size: cover;
    left: 50%;
    width: 50%;
    height: 90%;
}

#page-header #h-right #bg{
    background-color: #EDE9E7;
    height: 600px;
    width: 500px;
    top: 150px;
    left: -20%;
    position: relative;
}

/* Welcome Page */

#welcome-container{
    background-color: #EDE9E7;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110vh;
    margin-top: 150px;
}

#welcome-container #images{
    display: flex;
    width: 70%;
}

#welcome-container #images #image1{
    height: 370px;
    width: 300px;
    background-image: url("The\ Vault_\ Curated\ &\ Refined\ Wedding\ Inspiration.jpg");
    background-size: cover;
    margin: 10px;
    margin-left: 15px;
    position: relative;
    top: -8%;

}

#welcome-container #images #image2{
    background-image: url("/These\ Latest\ Mandap\ Decor\ Ideas\ Will\ Surely\ GORG\ Up\ Your\ Wedding.jpg");
    background-size: cover;
    height: 500px;
    width: 400px;
    position: relative;
    top: 8%;
}

#welcome-container #images #image2 #image3{
    background-image: url("An\ Ode\ to\ Marie\ Antoinette\'s\ _Enchanted\ Garden_\ _\ WedLuxe\ Media.jpg");
    background-size: cover;
    height: 300px;
    width: 500px;
    position: relative;
    left: -100%;
    top: 60% ;
}

#welcome-container #welcome{
    text-align: center;
    margin: 100px 150px 100px;
    text-transform: uppercase;
    font-family: 'Noto Sans Mono', monospace;
}

#welcome-container #welcome h5{
    font-size: 25px;
    margin-bottom: 15px;
}

#welcome-container #welcome h4{
    font-size: 30px;
    line-height: 40px;
    margin: 30px 0px 30px;
}

#welcome-container #welcome p{
    font-size: 15px;
    line-height: 30px;

}

.btn{
    background-color: #B88479;
    color: white;
    margin: 40px;
    padding: 15px;
    height: auto;
    width: auto;
    font-size: 20px;
    border: none;
}

/* Circle Section */

#circle{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#circle #circle1{
    background-color: #EDE9E7;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px;
}

#circle #circle1 #flowers p{
    font-family: 'Ephesis', cursive;
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-top: 30%;
}

#circle #circle2{
    background-color: #EDE9E7;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px;
}

#circle #circle2 #catering p{
    font-family: 'Ephesis', cursive;
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-top: 30%;
}

#circle #circle3{
    background-color: #EDE9E7;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px;
}

#circle #circle3 #contact p{
    font-family: 'Ephesis', cursive;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin-top: 30%;
}

/* Categories Section */

#categories{
    height: 100%;
}

#categories #top{
    height: 50vh;
    display: flex;
}

#categories #top p{
    font-family: 'Ephesis', cursive;
    font-size: 50px;
    margin-left: 20%;
    margin-top: 10%;
}

#categories #top #pic{
    background-image: url(Altar\ de\ casamento\ iluminado\ com\ varal\ de\ lâmpadas.jpg);
    background-size: cover;
    position: relative;
    height: 700px;
    width: 500px;
    left: 30%;
}

#categories #bottom{
    background-color: #EDE9E7;
    height: 110vh;
}

#categories #bottom #pic1{
    background-image: url(Cool\ And\ Refreshing\ Summer\ Wedding\ Decor\ Ideas\ To\ Beat\ The\ Heat!.png);
    background-size: cover;
    position: relative;
    height: 350px;
    width: 600px;
    top: 30%;
    left: 50%;
}

/* Bonquet Section */

#bonquet #img{
    background-image: url(./Screenshot\ \(24\).png);
    background-size: cover;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -50px;

}

#bonquet #txt{
    text-align: center;
}

#bonquet #txt #simple{
    margin: 10px;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Noto Sans Mono', monospace;
}

#bonquet #txt #cursive{
    font-family: 'Ephesis', cursive;
    font-size: 40px;
}

#bonquet #pictures{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#bonquet #pictures #start{
    background-color: #DBC9C7;
    height: auto;
    width: 50px;
}

#bonquet #pictures img{
    height: 200px;
    width: 200px;
    margin: 1px;
    background-size: cover;
}

#bonquet #pictures #end{
    background-color: #B9837A;
    height: auto;
    width: 50px;
}

#bonquet #pictures #end p{
    transform: rotate(270deg);
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    text-transform: uppercase;
    position: relative;
    top: 60%;
}

#bonquet #the-end{ 
    display: flex;
}

#bonquet #the-end #email-list{ 
    background-color: #EDE9E7;
    text-align: center;
    align-items: center;
    height: 300px;
    width: 550px;
    position: relative;
    left: 10%;
    top: -60px;
}

#bonquet #the-end #email-list #hey{
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 30px;
    line-height: 40px;
    font-family: 'Noto Sans Mono', monospace;

}

#bonquet #the-end #email-list #el{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Noto Sans Mono', monospace
}

#bonquet #the-end #email-list #line{
    height: 1.25px;
    width: 60px;
    background-color: gray;
    position: relative;
    margin: auto;
    top: 10px;
}

#bonquet #the-end #email-list #lorem{
    font-size: 16px;
    margin: 30px 100px 0px;
    font-family: 'Noto Sans Mono', monospace;
    line-height: 1.5;
}

#bonquet #the-end #email-list form{
    margin: px;
}

#bonquet #the-end #email-list input{
    display: inline;
    margin-bottom: 0;
    margin-top: 30px;
    border: none;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 12.5px;
    color: black;
    padding: 5px;
}

#bonquet #the-end #email-list #sub-btn{
    background-color: #B88479;
    color: white;
    margin: 0px;
    padding: 5px 20px;
    height: 40px;
    width: 130px;
    font-size: 15px;
    border: none;
}

#bonquet #the-end #bar ul{
    position: absolute;
    left: 50%;
    margin-top: 1.5%;
}

#bonquet #the-end #bar li{
    list-style: none;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
    text-transform: uppercase;
    font-weight: 20%
}

#bonquet #the-end #bar li a{
    text-decoration: none;
    color: black;
}

#bonquet #the-end #vegemite{
    position: absolute;
    left: 58%;
}

#bonquet #the-end #vegemite p{
    font-family: 'Ephesis', cursive;
    font-size: 30px;
    margin-right: 150px;
}

#bonquet #the-end #vegemite li{
    list-style: none;
    display: inline-block;
    padding-left: 0px;
    margin: 0px;
}

#bonquet #the-end #vegemite #social-container i{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    body{
        height: 100%;
        width: 100%;
    }
}